.card {
    max-width: 617px;

    background: rgba(255, 255, 255, 0.3);
    box-shadow: -5px 6px 28px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(3px);

    border-radius: 20px;
}

.btn-submit {
    background: rgba(0, 96, 240, 0.6);
    box-shadow: -5px 6px 28px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    width: 60px;
    aspect-ratio: 1;
}
::-webkit-scrollbar {
    width: 5px;
    height: 90%;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 96, 240);
    border-radius: 40px;
}
